###############################################################################
# WINDOWS.CFG - SAMPLE CONFIG FILE FOR MONITORING A WINDOWS MACHINE
#
#
# NOTES: This config file assumes that you are using the sample configuration
#    files that get installed with the Nagios quickstart guide.
#
###############################################################################



###############################################################################
#
# HOST DEFINITIONS
#
###############################################################################

# Define a host for the Windows machine we'll be monitoring
# Change the host_name, alias, and address to fit your situation

define host {

    use                     windows-server          ; Inherit default values from a template
    host_name               DIS-DB01               ; The name we're giving to this host
    alias                   VM Host for OYDNS03,Helpdesk-Dis    ; A longer name associated with the host
    address                 172.30.21.11             ; IP address of the host
    icon_image              windows.png
    icon_image_alt          Server 2003 R2 Standard SP2 8GB
    statusmap_image         windows.gd2
}

define host {

    use                     windows-server          ; Inherit default values from a template
    host_name               X3BANKS             ; The name we're giving to this host
    address                 10.10.76.113             ; IP address of the host
    icon_image              windows.png
    icon_image_alt          Server 2019 Standard 16GB 8CPU 255GB 4TB
    statusmap_image         windows.gd2
}


###############################################################################
#
# HOST GROUP DEFINITIONS
#
###############################################################################

# Define a hostgroup for Windows machines
# All hosts that use the windows-server template will automatically be a member of this group

define hostgroup {

    hostgroup_name          windows-servers         ; The name of the hostgroup
    alias                   Windows Servers         ; Long name of the group
}



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Create a service for monitoring the version of NSCLient++ that is installed
# Change the host_name to match the name of the host you defined above

define service {

    use                     generic-service
    hostgroup_name          windows-servers
    service_description     Disk
    check_command           check_nrpe!check_drivesize
}



# Create a service for monitoring the uptime of the server
# Change the host_name to match the name of the host you defined above

define service {

    use                     generic-service
    hostgroup_name          windows-servers
    service_description     Memory
    check_command           check_nrpe!check_memory 
}



# Create a service for monitoring CPU load
# Change the host_name to match the name of the host you defined above

define service {

    use                     generic-service
    hostgroup_name          windows-servers
    service_description     CPU Load
    check_command           check_nrpe!check_cpu!filter=none
}



# Create a service for monitoring memory usage
# Change the host_name to match the name of the host you defined above

define service {

    use                     generic-service
    hostgroup_name          windows-servers
    service_description     Pagefile
    check_command           check_nrpe!check_pagefile
}



# Create a service for monitoring C:\ disk usage
# Change the host_name to match the name of the host you defined above

#define service {
#
#    use                     generic-service
#    hostgroup_name          windows-servers
#    service_description     C:\ 
#    check_command           check_nt!USEDDISKSPACE!-l c -w 80 -c 90
#}



# Create a service for monitoring the W3SVC service
# Change the host_name to match the name of the host you defined above

#define service {
#
#    use                     generic-service
#    host_name               winserver
#    service_description     W3SVC
#    check_command           check_nt!SERVICESTATE!-d SHOWALL -l W3SVC
#}



# Create a service for monitoring the Explorer.exe process
# Change the host_name to match the name of the host you defined above

#define service {
#
#    use                     generic-service
#    host_name               winserver
#    service_description     Explorer
#    check_command           check_nt!PROCSTATE!-d SHOWALL -l Explorer.exe
#}
